

<div class="container-banner">
  <%= render 'shared/navbar' %>
  <div class="banner-content mt">
    <div class="element">
    <h1 class="ml11">
      <span class="text-wrapper">
        <span class="line line1"></span>
        <span class="ml12" id="typed-lover"></span>
      </span>
    </h1>
    </div>
    <%= form_tag moorings_path, id: "form", method: :get do %>
      <%= text_field_tag :query,
      params[:query], :autocomplete => :off,
      class: "form-control search-input",
        placeholder: "London" %>
    <% end %>
  </div>
</div>

<h1>Our popular mooring spots</h1>

  <div class="outer-card">

    <div class="card">
      <%= link_to "http://www.moorbookings.herokuapp.com/moorings?=camden" do %>
      <div class="img" id="img1"></div>
      <h4>Camden</h4>
      <div class="button">available</div>
      <% end %>
    </div>

    <div class="card">
      <%= link_to "http://www.moorbookings.herokuapp.com/moorings?=broadway+market" do %>
      <div class="img" id="img2"></div>
      <h4>Broadway Market</h4>
      <div class="button">available</div>
      <% end %>
    </div>

    <div class="card">
      <%= link_to "http://www.moorbookings.herokuapp.com/moorings?=paddington" do %>
      <div class="img" id="img3"></div>
      <h4>Paddington</h4>
      <div class="button">available</div>
      <% end %>
    </div>
  </div>
</div>

<div class="wrapper-work">
<div class="container-fluid">
  <div class="row">
    <div class="homepage-title">
      <h1>How it works</h1>
    </div>
    <div class="col-md-4">
      <div class="card-how-it-works">
        <i class="fas fa-search fa-5x"></i>
        <p class="homepage-title"><strong>Find a spot</strong></p>
        <p>Search mooring spots throughout London's busiest areas</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card-how-it-works">
        <i class="fas fa-check fa-5x"></i>
        <p class="homepage-title"><strong>Book your mooring</strong></p>
        <p>Reserve a spot with the Canal River Trust and confirm dates</p>
      </div>
     </div>
     <div class="col-md-4">
      <div class="card-how-it-works">
      <i class="far fa-compass fa-5x"></i>
        <p class="homepage-title"><strong>Travel to destination</strong></p>
        <p>Navigate to your next neighbourhood whilst locating the closest amenity points</p>
      </div>
    </div>
  </div>
</div>
</div>







