<%= render 'shared/navbar' %>

<div class="container-banner">
  <div class="banner-content">
    <h1 class="ml11">
      <span class="text-wrapper">
        <span class="line line1"></span>
        <span class="letters">Mooring made easy for you</span>
      </span>
    </h1>
    <%= form_tag moorings_path, id: "form", method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control search-input",
        placeholder: "London" %>
    <% end %>
  </div>
</div>

<h1>Our popular moorings</h1>

  <div class="outer-card">

    <div class="card">
      <%= link_to "http://www.moor.world/moorings?utf8=%E2%9C%93&query=camden" do %>
      <div class="img" id="img1"></div>
      <h4>Camden</h4>
      <div class="button">available</div>
      <% end %>
    </div>

    <div class="card">
      <%= link_to "http://www.moor.world/moorings?utf8=%E2%9C%93&query=broadway+market" do %>
      <div class="img" id="img2"></div>
      <h4>Broadway Market</h4>
      <div class="button">available</div>
      <% end %>
    </div>

    <div class="card">
      <%= link_to "http://www.moor.world/moorings?utf8=%E2%9C%93&query=paddington" do %>
      <div class="img" id="img3"></div>
      <h4>Paddington</h4>
      <div class="button">available</div>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <h2>How it works</h2>
    <div class="col-md-4">
      <div class="card-how-it-works">
        <%= image_tag("One.png", :alt => "One", :class => "number-icon") %>
        <p> <strong>Find a spot</strong></p>
        <p>Search mooring spots throughout London's busiest areas.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card-how-it-works">
        <%= image_tag("Two.png", :alt => "Two", :class => "number-icon") %>
        <p><strong>Book your mooring</strong></p>
        <p>Reserve a spot with the Canal River Trust and confirm dates.</p>
      </div>
     </div>
     <div class="col-md-4">
      <div class="card-how-it-works">
        <%= image_tag("Three.png", :alt => "Three", :class => "number-icon") %>
        <p><strong>Travel to destination</strong></p>
        <p>Navigate to your next neighbourhood whilst locating the closest amenity points.</p>
      </div>
    </div>
  </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<%= javascript_pack_tag "textanimation" %>
