
<%= render 'shared/navbar-search' %>
<div class="banner-mooring" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
url(<%= cl_image_path('mooring1.png', gravity: 'north') %>)">
<div class="card-banner">
  <h1 class="mooring-header"><%= @mooring.name %></h1>
  <h4 id="label-mooring-status">available</h4>
</div>
</div>

<div class="container" id="mooring-show-container">
  <div class="row">
    <div class="container-booking-info">

      <div class="col-md-8" id="scroll">
        <h2>Useful information</h2>
        <ul>
          <li>Booking can be made <span class="color-text"> online or through the customer call centre</span></li>
          <li>Bookings can be made for <span class="color-text">1-7 days</span> (max 7 days in a single visit)</li>
          <li>Arrival time after 1pm, <span class="color-text">departure time by 12 noon</span></li>
          <li>Bookings are made through the web licensing system so you will need to have an existing account (or set one up)</li>
          <li>Bookings will be <span class="color-text">confirmed by email</span></li>
          <li><span class="color-text">Bookings can be changed or cancelled</span> by you up to 14 days before the start of the booking period, or by calling the customer service centre if within 14 days of the start of the booking</li>
          <li>An unpermitted use charge of <span class="color-text">£25 per day</span> applies to boats that have not booked to use the moorings</li>
        </ul>
        <p>Read the full terms and conditions for moorings or the plain English explanation of the terms and conditions.</p>



        <% if @mooring.name.capitalize.include? "Camden" %>


          <h2>Amenities near Camden</h2>
          <div class="amenities-container">
            <p class="amenities-container-flex"><%= image_tag("toilets") %><i class="fas fa-times fa-2x"></i></p>
            <p class="amenities-container-flex"><%= image_tag("water") %><i class="fas fa-times fa-2x"></i></p>
          </div>
          <div class="amenities-container">
            <p class="amenities-container-flex"><%= image_tag("pump") %><i class="fas fa-times fa-2x"></i></p>
            <p class="amenities-container-flex"><%= image_tag("trash") %><i class="fas fa-check fa-2x" id="check"></i></p>
          </div>

        <% elsif @mooring.name.capitalize.include? "Paddington" %>

          <h2>Amenities near Paddington</h2>
          <div class="amenities-container">
            <p class="amenities-container-flex"><%= image_tag("toilets") %><i class="fas fa-check fa-2x" id="check"></i></p>
            <p class="amenities-container-flex"><%= image_tag("water") %><i class="fas fa-check fa-2x" id="check"></i></p>
          </div>
          <div class="amenities-container">
            <p class="amenities-container-flex"><%= image_tag("pump") %><i class="fas fa-check fa-2x" id="check"></i></p>
            <p class="amenities-container-flex"><%= image_tag("trash") %><i class="fas fa-check fa-2x" id="check"></i></p>
          </div>

        <% elsif @mooring.name.capitalize.include? "Angel" %>
          <h2>Amenities near Angel</h2>
         <div class="amenities-container">
            <p class="amenities-container-flex"><%= image_tag("toilets") %><i class="fas fa-times fa-2x"></i></p>
            <p class="amenities-container-flex"><%= image_tag("water") %><i class="fas fa-check fa-2x" id="check"></i></p>
          </div>
          <div class="amenities-container">
            <p class="amenities-container-flex"><%= image_tag("pump") %><i class="fas fa-times fa-2x"></i></p>
            <p class="amenities-container-flex"><%= image_tag("trash") %><i class="fas fa-check fa-2x" id="check"></i></p>
          </div>


        <% elsif @mooring.name.capitalize.include? "Broadway" %>
          <h2>Amenities near Broadway Market</h2>
             <div class="amenities-container">
            <p class="amenities-container-flex"><%= image_tag("toilets") %><i class="fas fa-times fa-2x"></i></p>
            <p class="amenities-container-flex"><%= image_tag("water") %><i class="fas fa-check fa-2x" id="check"></i></p>
          </div>
          <div class="amenities-container">
            <p class="amenities-container-flex"><%= image_tag("pump") %><i class="fas fa-times fa-2x"></i></p>
            <p class="amenities-container-flex"><%= image_tag("trash") %><i class="fas fa-times fa-2x"></i></p>
          </div>

        <% elsif @mooring.name.capitalize.include? "Kings" %>

          <h2>Amenities near Kings Cross</h2>
            <div class="amenities-container">
            <p class="amenities-container-flex"><%= image_tag("toilets") %><i class="fas fa-times fa-2x"></i></p>
            <p class="amenities-container-flex"><%= image_tag("water") %><i class="fas fa-times fa-2x"></i></p>
          </div>
          <div class="amenities-container">
            <p class="amenities-container-flex"><%= image_tag("pump") %><i class="fas fa-times fa-2x"></i></p>
            <p class="amenities-container-flex"><%= image_tag("trash") %><i class="fas fa-check fa-2x" id="check"></i></p>
          </div>
 

        <% end %>



      </div>
      <!-- <div class="col-md-2"></div> -->
      <div class="col-md-4" id="sticky">


        <div class="form-datepicker">
          <h2>Pick a date</h2>
          <%= simple_form_for [@mooring, @booking] do |f| %>
          <%= f.input :start_date, as: :string, required: false, input_html: {class: "flatpickr"} %>

          <%= f.input :end_date, as: :string, required: false, input_html: {class: "flatpickr"} %>
          <span class="button-datepicker">
           <%= f.button :submit, "Submit", class: "submit-mooring-date" %>
         </span>
         <% end %>
        </div>
        <div id="map" class="mini-map" style="width:360px;height:400px" data-markers="<%= @markers.to_json %>"></div>
     </div>
   </div>
 </div>
</div>

